version: '3.8'

services:

  postgres-customers:
    image: postgres:15
    container_name: postgres-customers
    environment:
      POSTGRES_DB: ${CUSTOMERS_DB}
      POSTGRES_USER: ${CUSTOMERS_DB_USER}
      POSTGRES_PASSWORD: ${CUSTOMERS_DB_PASSWORD}
    ports:
      - "5433:5432"

  postgres-accounts:
    image: postgres:15
    container_name: postgres-accounts
    environment:
      POSTGRES_DB: ${ACCOUNTS_DB}
      POSTGRES_USER: ${ACCOUNTS_DB_USER}
      POSTGRES_PASSWORD: ${ACCOUNTS_DB_PASSWORD}
    ports:
      - "5434:5432"

  ms-customers:
    build: ./ms-customers
    container_name: ms-customers
    ports:
      - "8081:8081"
    depends_on:
      - postgres-customers
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-customers:5432/customers_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin123
      JWT_SECRET: ${JWT_SECRET}

  ms-accounts:
    build: ./ms-accounts
    container_name: ms-accounts
    ports:
      - "8082:8082"
    depends_on:
      - postgres-accounts
      - ms-customers
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-accounts:5432/accounts_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin123
      CUSTOMERS_SERVICE_URL: http://ms-customers:8081
